<form [formGroup]="myform" #myformX class="content" role="main">
  <table [formArrayName]="'configuredReleases'">
    <thead>
      <tr style="font-weight: 700;">
        <td>Id</td>
        <td>Name</td>
        <td>Version</td>
        <td>Revision</td>
        <td>Predecessor</td>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of releaseControls.controls; let i=index">
        <tr [formGroupName]="i">
          <td>{{item.value.prjRelease.id}}</td>
          <td>{{item.value.prjRelease.name}}</td>
          <td>{{item.value.prjRelease.version}}</td>
          <td>{{item.value.prjRelease.revision}}</td>
          <!-- <td>{{item.predecessor.name}} {{item.predecessor.version}}/{{item.predecessor.revision}}</td> -->
          <td>
            <!-- <input [formControlName]="'predecessor'" type="text"> -->
            <mat-form-field class="example-full-width">
              <mat-label>Predecessor</mat-label>
              <input type="text"
                     placeholder="Pick one"
                     aria-label="Number"
                     matInput
                     [formControl]="item.get('predecessor')"
                     (keyup)="preInputChanged($event, item)"
                     [matAutocomplete]="auto">
              <mat-autocomplete [displayWith]="displayFn" autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option.name}} {{option.version}}/{{option.revision}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <button (click)="save()">Save</button>
</form>
